body {
	font: 20px 'Open Sans', sans-serif;
	font-weight: bold;
	background: black;
	user-select: none;
}

a:link {
	text-decoration: none;
	color: #bbb;
}

a:visited {
	text-decoration: none;
	color: #bbb;
}

a:hover {
	text-decoration: none;
	color: white;
}

section {
	display: none;
	padding: 10px;
}

input.tab {
	display: none;
}

label {
	display: inline-block;
	padding: 8px;
	font-weight: 500;
	color: #888;
}

label:hover {
	color: #bbb;
	cursor: pointer;
}

input:checked+label {
	color: white;
/*	border-bottom: 3px solid red;*/
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
	display: block;
}

.canales {
	text-align: center;
}

.canales .card {
	display: inline-block;
	background: #35363a;
	width: 120px;
	height: 120px;
	margin: 4px;
	border-radius: 15%;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}

.canales .card img {
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	display: none;
	float: left;
	min-width: 130px;
	padding: 5px 0;
	margin: 0 0 0;
	font-size: 20px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5
}

.open>.dropdown-menu {
	display: block
}